<div class="well bs-component" style="background-color:slategray">
<form class="form-horizontal" style="color: black">
  <fieldset>
    <legend class="center" style="color: white">
      <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
      Task</legend>
    <div class="form-group label-floating is-empty">
                <label style="color: white" for="i5" class="control-label">Title</label>
                <input type="email" class="form-control" id="i5">
                <span class="help-block" style="color:darkgreen">eg:Programming</span>
              </div>
   <div class="form-group label-floating is-empty" >
    <label style="color: white" for="i5" class="control-label">Discription</label>
    <input type="email" class="form-control" id="i5">
    <span class="help-block" style="color:darkgreen">eg: Study programming today at 12am</span>
  </div>
     <div class="btn-group">
              <a href="#" class="btn btn-default btn-raised">Category<div class="ripple-container"></div></a>
              <a href="#" data-target="#" class="btn btn-default btn-raised dropdown-toggle" data-toggle="dropdown" aria-expanded="False"><span class="caret"></span><div class="ripple-container"></div></a>
              <ul class="dropdown-menu">
                <li><a href="">Personal</a></li>
                <li><a href="">Work</a></li>
                <li><a href="">School</a></li>
                <li class="divider"></li>
                <li><a href="">Other</a></li>
              </ul>
            </div>
  <a href="javascript:void(0)" class="btn btn-success btn-lg btn-block btn-raised">Add Task</a>


  </fieldset>
</form>
</div>